#logo{
    
}
header h1{
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans serif;
    color:red;
}
#main{

}
footer{

}
body {
    background-image:url('../img/background.jpg');
    background-repeat:no-repeat;
    background-size:cover;
}